<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshashan.mybatis.learn.dao.mapper.CustomerMapper">

    <resultMap id="CustomerMap" type="com.mingshashan.mybatis.learn.entity.CustomerEntity">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="gender" column="gender"></result>
        <result property="phone" column="phone"></result>
        <result property="addressList" column="address_info"
                typeHandler="com.mingshashan.mybatis.learn.mybatis.handler.AddressInfoHandler"
                javaType="java.util.List"
                jdbcType="VARCHAR"
        ></result>
        <result property="gmtCreated" column="gmt_created"></result>
        <result property="gmtModified" column="gmt_modified"></result>
        <result property="isValid" column="is_valid"></result>
    </resultMap>

    <sql id="customer_column">
        id, name, gender, phone, address_info, gmt_created, gmt_modified
    </sql>

    <insert id="saveCustomer" parameterType="CustomerEntity">
        INSERT INTO T_ARG_CUSTOMER(
        <include refid="customer_column"></include>
        )
        values(#{id}, #{name}, #{gender}, #{phone}, #{addressList}, #{gmtCreated}, #{gmtModified})
    </insert>

    <update id="updateCustomer" parameterType="CustomerEntity">
        update T_ARG_CUSTOMER set
        name = #{name},
        gender = #{gender},
        phone = #{phone},
        address_info = #{addressList},
        gmt_modified = #{gmtModified}
        from t_arg_customer
        <where>
            ID = #{id}
        </where>
    </update>
    <update id="deleteCustomerById">
        update T_ARG_CUSTOMER set is_valid = '0'
        <where>
            id = #{id}
        </where>
    </update>

    <select id="findById" resultType="CustomerEntity">
        select
        <include refid="customer_column"></include>
        from T_ARG_CUSTOMER
        <where>
            id = #{id}
        </where>
    </select>
</mapper>