<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshashan.mybatis.learn.dao.mapper.ProductMapper">
    <resultMap id="ProductMap" type="com.mingshashan.mybatis.learn.entity.ProductEntity">
        <id property="id" column="id"></id>
        <result property="name" column="name"></result>
        <result property="price" column="price"></result>
        <result property="description" column="description"></result>
        <result property="gmtCreated" column="gmt_created"></result>
        <result property="gmtModified" column="gmt_modified"></result>

    </resultMap>

    <sql id="product_column">
        ID, NAME, PRICE, DESCRIPTION, gmt_created, gmt_modified
    </sql>

    <insert id="saveProduct" parameterType="ProductEntity">
        INSERT T_ARG_PRODUCT (
        <include refid="product_column"></include>
        )
        values (#{id}, #{name}, #{price}, #{description}, #{gmtCreated}, #{gmtModified})
    </insert>

    <update id="updateProduct" parameterType="ProductEntity">
        INSERT T_ARG_PRODUCT SET
        NAME = #{name},
        PRICE = #{price},
        DESCRIPTION = #{description},
        gmt_modified = #{gmtModified}
        <where>
            ID = #{id}
        </where>
    </update>

    <update id="deleteProductById">
        UPDATE T_ARG_PRODUCT SET IS_VALID = '0'
        <where>
            ID = #{id}
        </where>
    </update>

    <select id="findById" resultMap="ProductMap">
        SELECT
        <include refid="product_column"></include>
        FROM T_ARG_PRODUCT
        <where>
            ID = #{id}
            AND IS_VALID = '1'
        </where>
    </select>
</mapper>