<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mingshashan.mybatis.learn.dao.mapper.TagMapper">

    <cache-ref namespace="com.mingshashan.mybatis.learn.dao.mapper.CustomerMapper"/>

    <resultMap id="TagMap" type="com.mingshashan.mybatis.learn.entity.TagEntity">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="gmtCreated" column="gmt_created"/>
        <result property="gmtModified" column="gmt_modified"/>
    </resultMap>


</mapper>